html {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
    min-height: 100vh;
    color: #d8e9ef;
    background: #165c78;
    background: linear-gradient(-20deg, rgba(22, 92, 120, 1) 0%, rgba(138, 66, 122, 1) 50%, rgba(194, 168, 72, 1) 100%);
    background-size: cover;
}

h1 {
    margin: 0 auto 10px auto;
    color: #d8e9ef
}

p {
    margin: 0;
}

.app-message {
    height: 20px;
    margin: 10px auto 20px auto;
}

.app-container {
    width: 250px;
    height: 420px;
    margin: 40px auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

.app-circle {
    position: relative;
    margin: 0px auto;
    width: 200px;
    height: 200px;
}

.circle-shape {
    pointer-events: none;
}

.semi-circle {
    position: absolute;
    width: 100px;
    height: 200px;
    box-sizing: border-box;
    border: solid 6px;
}

.left-side {
    top: 0;
    left: 0;
    transform-origin: right center;
    transform: rotate(0deg);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: none;
    z-index: 1;
}

.right-side {
    top: 0;
    left: 100px;
    transform-origin: left center;
    transform: rotate(0deg);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: none;
}

.circle {
    border-color: #bf5139;
}

.circle-mask {
    border-color: #e85a71;
}

.app-counter-box {
    font-family: "Droid Sans Mono", monospace;
    font-size: 250%;
    position: relative;
    top: 50px;
    color: #d8e9ef;
}

button {
    font-family: "Fira Sans", sans-serif;
    position: relative;
    top: 50px;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: none;
    background: none;
    outline: none;
    color: #d8e9ef;
}

button:hover {
    color: #90c0d1;
}